<footer class="footer">
  <h1>Company</h1>
  <p>
    Sit iste enim ut numquam nulla Asperiores doloremque quas facilis excepturi natus nulla fugiat. Eius aliquid quia sint fugit asperiores, recusandae deserunt. Laborum asperiores quo fugiat quisquam asperiores Fugit vero
  </p>
</footer>

