<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Webpack Workflow</title>
</head>
<body>
  <h1>Webpack, Sass & Template engine</h1>

  {{> ./partials/navigation }}

  <img src="./static/img/react.png" alt="Logo react">

  {{> ./partials/footer }}

</body>
</html>

